header{
    height: 15vh;
    width: 100vw;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 2;
    background-color: var(--bg-dark);
}

.light header{
    background-color: var(--bg-light);
}

header > #container{
    height: 100%;
    width: 100px;
    display: flex;
    align-items: center;
    border-right: 1px solid var(--primary-dark);
}

.light header > #container{
    border-right: 1px solid var(--primary-light);
}

header img{
    height: 80px;
    width: auto;
}

header #searchBar{
    width: calc(100% - 115px);
    padding: 15px;
    padding-left: 40px;
    border-radius: 10px;
    color: var(--primary-dark);
    border: none;
    font-size: 20px;
    background: url("/icons/search.png") no-repeat 10px center;
    background-size: 25px;
    background-color: var(--decoration-dark);
}

header #searchBar::placeholder{
    color: var(--highlight);
}

.light header #searchBar{
    background-color: var(--decoration-light);
}

.light header #searchBar::placeholder{
    color: var(--decoration-dark);
}

@media (max-width: 700px){
    header{
        justify-content: center;
    }
    header > #container, .light header > #container{
        border-right: none;
    }
    header img{
        height: 60px;
    }
    header #searchBar{
        font-size: 16px;
    }
}