#gallery ul{
    padding: 40px 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 2vw;
    place-items: center;
}

#gallery img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
    transition: transform 0.5s ease-in-out, opacity 0.3s ease-in-out;
}

#gallery img:hover{
    transform: scale(1.1);
}

@media (max-width: 700px){
    #gallery{
        margin-top: 20vh;
    }
    #gallery img:hover{
        transform: scale(1);
        opacity: 0.8;
    }
}