#suggestions{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

#suggestions .suggestionBtn{
    background-color: var(--primary-dark);
    color: var(--bg-dark);
    border: none;
    border-radius: 15px;
    font-size: 16px;
    padding: 20px;
    width: 130px;
    cursor: pointer;
}

.light #suggestions .suggestionBtn{
    background-color: var(--decoration-dark);
    color: var(--bg-light);
}

#suggestions .suggestionBtn:hover{
    background-color: var(--highlight);
}

@media (max-width: 700px){
    #suggestions{
        flex-direction: column;
    }
}